@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Azure Bootcamp, South Africa</h1>
    <p>Learn about <a href="https://learn.microsoft.com/en-us/azure/private-link/private-link-service-overview">Azure private links and private endpoints</a>.</p>
</div>
