@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Azure Bootcamp, South Africa - GP</h1>
    <p>Learn about: <a href="https://learn.microsoft.com/en-us/azure/frontdoor/front-door-overview">Azure Front Door Premium with private endpoint connection from App Service</a>.</p>
</div>
